.translateRow{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.foot {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 20px;
}

.middleText {
	margin-left: 5px;
	margin-right: 5px;
}

h3 
{
	font-size: 2em;
	color: #FE6D73;
	padding: 40px;
}
body 
{
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;

	background-color: #fef9ef;
	font-family: 'Courier New', Courier, monospace;
}